# 7/4 project 진행
---

## 학습에 필요한 data load하기

In [1]:
import pandas as pd

In [2]:
train = pd.read_csv(r'D:\ML_final_project\data\preprocessed_data\preprocessing_train_2nd.csv')
test = pd.read_csv(r'D:\ML_final_project\data\preprocessed_data\preprocessing_test_2nd.csv')

## load한 데이터 확인하기

In [3]:
#9번째 index까지 확인
train.head(10)

   Survived  Pclass  Sex  Age  Fare  Embarked  Family
0         0       3    0  1.0   0.0         0       2
1         1       1    1  2.0   3.0         2       2
2         1       3    1  1.0   0.0         0       1
3         1       1    1  2.0   3.0         0       2
4         0       3    0  2.0   0.0         0       1
5         0       3    0  1.0   0.0         1       1
6         0       1    0  3.0   3.0         0       1
7         0       3    0  0.0   2.0         0       5
8         1       3    1  1.0   1.0         0       3
9         1       2    1  0.0   3.0         2       2

In [4]:
#9번째 index까지 확인
test.head(10)

   Pclass  Sex  Age  Fare  Embarked  Family
0       3    0  0.0   0.0         1       1
1       3    1  0.0   0.0         0       2
2       2    0  0.0   0.0         1       1
3       3    0  0.0   0.0         0       1
4       3    1  0.0   1.0         0       3
5       3    0  0.0   0.0         0       1
6       3    1  0.0   0.0         1       1
7       2    0  0.0   2.0         0       3
8       3    1  0.0   0.0         2       1
9       3    0  0.0   2.0         0       3

## training에 필요한 module import 하기

In [23]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.metrics import precision_recall_fscore_support as score

## Learning graph를 그려주는 함수

In [24]:
def plot_learning_curve(history):
    acc = history.history['acc']
    val_acc = history.history['val_acc']
    loss = history.history['loss']
    val_loss = history.history['val_loss']
    epochs = range(1, len(acc) + 1)

    plt.figure(figsize=(15, 5))

    plt.subplot(121)
    plt.title('Training and validation accuracy')
    plt.plot(epochs, acc, '-', label='Training acc')
    plt.plot(epochs, val_acc, '-', label='Validation acc')
    plt.legend()

    plt.subplot(122)
    plt.title('Training and validation loss')
    plt.plot(epochs, loss, '-', label='Training loss')
    plt.plot(epochs, val_loss, '-', label='Validation loss')
    plt.legend()

    plt.show()

### dataset 구성하기

In [25]:
X = train.drop('Survived', axis=1).values
y = train['Survived'].values

In [30]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=42)

### dataset 확인하기

In [31]:
print('Training set shape :   ', 'X', X_train.shape, '|', 'y', y_train.shape)
print('Test set shape :       ', 'X', X_test.shape, ' |', 'y', y_test.shape)

Training set shape :    X (801, 6) | y (801,)
Test set shape :        X (90, 6)  | y (90,)

### Model 선택하기

SVC를 통해 학습을 진행해보겠다.

In [32]:
from sklearn.svm import SVC

In [33]:
model = SVC()
model.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [34]:
accuracy = model.score(X_train, y_train)
print('accuracy =', accuracy)

accuracy = 0.8239700374531835

## Result

SVC model은 정확도가 0.82 정도 나온다.