# 7/1 project 진행
---

In [1]:
import pandas as pd

In [2]:
X = pd.read_csv(r'D:\ML_final_project\train.csv')
y = pd.read_csv(r'D:\ML_final_project\test.csv')

In [3]:
X

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

## data preprocessing 하기

6월 25일 프로젝트에서 Sex column의 값들을 0, 1의 형태로 전처리해주었다.  
하지만 다른 column들도 전처리가 필요하다는 것을 알게 되었다.  
그렇기 때문에 모든 data들을 training에 용이하도록 전처리를 해줄 것이다.  
train과 test 모두 진행해보겠다.

---

In [4]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [5]:
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

train data의 경우 Age, Cabin, Embarked에 해당하는 column에 null값이 존재하고,  
test data의 경우 Age, Fare, Cabin에 해당하는 column에 null값이 존재한다.

---

### null data 채우기

train data에서 Age, Cabin, Embarked 중에 Cabin을 제외한 Age, Embarked를 전처리하겠다.

#### Age 채우기

Age는 나이의 평균값으로 null data를 채우겠다.

In [6]:
print(X['Age'].sum()/len(X['Age']))
print(y['Age'].sum()/len(y['Age']))

23.79929292929293
24.044258373205743

In [31]:
for idx, i in enumerate(X['Age'].isnull()):
    if i == True:
        X['Age'][idx] = X['Age'].sum()/len(X['Age'])

for idx, i in enumerate(y['Age'].isnull()):
    if i == True:
        y['Age'][idx] = y['Age'].sum()/len(y['Age'])

In [8]:
print(X['Age'].isnull().sum())
print(y['Age'].isnull().sum())

0
0

#### Embarked 채우기

Embarked는 S의 개수가 가장 많기 때문에 S로 채워주겠다.

In [32]:
for idx, i in enumerate(X['Embarked'].isnull()):
    if i == True:
        X['Embarked'][idx] = 'S'

In [10]:
X['Embarked'].isnull().sum()

0

#### Fare 채우기

Fare도 Age와 마찬가지로 평균값으로 채워넣겠다.

In [11]:
print(y['Fare'].sum()/len(y['Fare']))

35.541955980861246

In [33]:
for idx, i in enumerate(y['Fare'].isnull()):
    if i == True:
        y['Fare'][idx] = y['Fare'].sum()/len(y['Fare'])

In [13]:
print(y['Fare'].isnull().sum())

0

---

data info를 살펴보면 null data들이 채워져 개수가 맞춰진 것을 확인할 수 있다.

In [14]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [15]:
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          418 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         418 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

---

### column별로 data preprocessing

학습에 도움이 될 column들을 몇 가지 선택하여 전처리를 진행했다.  
  
Sex, Age, Fare, Embarked

#### Sex column preprocessing

In [16]:
X['Sex'] = X['Sex'].replace(['male', 'female'], [0, 1])
y['Sex'] = y['Sex'].replace(['male', 'female'], [0, 1])

#### Age column preprocessing

In [17]:
X['Age'].max()

80.0

In [18]:
c0, c1, c2, c3, c4, c5, c6, c7 = 0, 0, 0, 0, 0, 0, 0, 0

for idx, i in enumerate(X['Age']):
    if i <= 10:
        c0 += 1
    if 10 < i <= 20:
        c1 += 1
    if 20 < i <= 30:
        c2 += 1
    if 30 < i <= 40:
        c3 += 1
    if 40 < i <= 50:
        c4 += 1
    if 50 < i <= 60:
        c5 += 1
    if 60 < i <= 70:
        c6 += 1
    if 70 < i:
        c7 += 1
        
print(c0, c1, c2, c3, c4, c5, c6, c7)

64 115 407 155 86 42 17 5

Age의 class가 8개로 많은 것 같아 범위를 10 단위가 아닌 16 단위로 쪼개서 하겠다.

In [19]:
X.loc[X['Age'] <= 16, 'Age'] = 0
X.loc[(16 < X['Age']) & (X['Age'] <= 32), 'Age'] = 1
X.loc[(32 < X['Age']) & (X['Age'] <= 48), 'Age'] = 2
X.loc[(48 < X['Age']) & (X['Age'] <= 64), 'Age'] = 3
X.loc[64 < X['Age'], 'Age'] = 4

In [20]:
y.loc[X['Age'] <= 16, 'Age'] = 0
y.loc[(16 < y['Age']) & (y['Age'] <= 32), 'Age'] = 1
y.loc[(32 < y['Age']) & (y['Age'] <= 48), 'Age'] = 2
y.loc[(48 < y['Age']) & (y['Age'] <= 64), 'Age'] = 3
y.loc[64 < y['Age'], 'Age'] = 4

#### Fare column preprocessing

In [21]:
print(X['Fare'].min())
print(X['Fare'].max())

0.0
512.3292

In [22]:
c0, c1, c2, c3, c4, c5, c6, c7, c8, c9, c10, c11, c12, c13 = 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0

for idx, i in enumerate(X['Fare']):
    if i <= 10:
        c0 += 1
    if 10 < i <= 20:
        c1 += 1
    if 20 < i <= 30:
        c2 += 1
    if 30 < i <= 40:
        c3 += 1
    if 40 < i <= 50:
        c4 += 1
    if 50 < i <= 60:
        c5 += 1
    if 60 < i <= 70:
        c6 += 1
    if 70 < i <= 80:
        c7 += 1
    if 80 < i <= 90:
        c8 += 1
    if 90 < i <= 100:
        c9 += 1
    if 100 < i <= 200:
        c10 += 1
    if 200 < i <= 300:
        c11 += 1
    if 300 < i <= 400:
        c12 += 1
    if 400 < i:
        c13 += 1
        
print(c0, c1, c2, c3, c4, c5, c6, c7, c8, c9, c10, c11, c12, c13)

336 179 142 58 16 38 17 31 17 4 33 17 0 3

Fare가 50 이하로 많이 몰려있기 때문에 범위를 다르게 바꿔주겠다.

In [23]:
X.loc[X['Fare'] <= 10, 'Fare'] = 0
X.loc[(10 < X['Fare']) & (X['Fare'] <= 20), 'Fare'] = 1
X.loc[(20 < X['Fare']) & (X['Fare'] <= 30), 'Fare'] = 2
X.loc[(30 < X['Fare']) & (X['Fare'] <= 100), 'Fare'] = 3
X.loc[100 < X['Fare'], 'Fare'] = 4

In [25]:
y.loc[y['Fare'] <= 10, 'Fare'] = 0
y.loc[(10 < y['Fare']) & (y['Fare'] <= 20), 'Fare'] = 1
y.loc[(20 < y['Fare']) & (y['Fare'] <= 30), 'Fare'] = 2
y.loc[(30 < y['Fare']) & (y['Fare'] <= 100), 'Fare'] = 3
y.loc[100 < y['Fare'], 'Fare'] = 4

#### Embarked column preprocessing

In [26]:
X['Embarked'] = X['Embarked'].replace(['S', 'Q', 'C'], [0, 1, 2])
y['Embarked'] = y['Embarked'].replace(['S', 'Q', 'C'], [0, 1, 2])

---

### 불필요한 column 없애기

몇 가지 training에 도움이 안 되는 column들을 제거하겠다.

In [27]:
X.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis =1, inplace=True)
y.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis =1, inplace=True)

---

최종적으로 preprocessing한 data를 살펴보겠다.  
잘 되어있는 것을 확인할 수 있다

In [28]:
X

     Survived  Pclass  Sex  Age  SibSp  Parch  Fare  Embarked
0           0       3    0  1.0      1      0   0.0         0
1           1       1    1  2.0      1      0   3.0         2
2           1       3    1  1.0      0      0   0.0         0
3           1       1    1  2.0      1      0   3.0         0
4           0       3    0  2.0      0      0   0.0         0
..        ...     ...  ...  ...    ...    ...   ...       ...
886         0       2    0  1.0      0      0   1.0         0
887         1       1    1  1.0      0      0   2.0         0
888         0       3    1  1.0      1      2   2.0         0
889         1       1    0  1.0      0      0   2.0         2
890         0       3    0  1.0      0      0   0.0         1

[891 rows x 8 columns]

In [29]:
y

     Pclass  Sex  Age  SibSp  Parch  Fare  Embarked
0         3    0  0.0      0      0   0.0         1
1         3    1  0.0      1      0   0.0         0
2         2    0  0.0      0      0   0.0         1
3         3    0  0.0      0      0   0.0         0
4         3    1  0.0      1      1   1.0         0
..      ...  ...  ...    ...    ...   ...       ...
413       3    0  0.0      0      0   0.0         0
414       1    1  0.0      0      0   4.0         2
415       3    0  0.0      0      0   0.0         0
416       3    0  0.0      0      0   0.0         0
417       3    0  0.0      1      1   2.0         2

[418 rows x 7 columns]

---

## preprocessing된 data를 따로 csv파일로 저장

다음 프로젝트의 원활한 진행을 위해 이러한 과정을 다시 거치지 않고 바로 preprocessing된 data를 사용하기 위해서 csv파일로 따로 저장하고자 한다.

In [30]:
X.to_csv(r'D:\ML_final_project\preprocessing_train.csv')
y.to_csv(r'D:\ML_final_project\preprocessing_test.csv')